.chessboard {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.square {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

/* Add styling for alternating squares */
.row:nth-child(even) .square:nth-child(even) {
  background-color: rgb(208, 230, 250);
}

.row:nth-child(even) .square:nth-child(odd) {
  background-color: #444;
}

.row:nth-child(odd) .square:nth-child(even) {
  background-color: #444;
}

.row:nth-child(odd) .square:nth-child(odd) {
  background-color: rgb(208, 230, 250);
}
