html, body {
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
  display: flex;
}

.left {
  flex: 1;
}

.right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chessboard {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.square {
  width: calc(45px + 3vw);
  height: calc(45px + 3vw);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

/* Add styling for alternating squares */
.row:nth-child(even) .square:nth-child(even) {
  background-color: rgb(208, 230, 250);
}

.row:nth-child(even) .square:nth-child(odd) {
  background-color: #444;
}

.row:nth-child(odd) .square:nth-child(even) {
  background-color: #444;
}

.row:nth-child(odd) .square:nth-child(odd) {
  background-color: rgb(208, 230, 250);
}
